springfox.documentation.swagger.v2.path=/api-docs
server.port=8080
spring.application.name=$name

####使用zipkin-mq服务需要的配置（TODO:修改为你的zipkin server配置，如不使用，可去掉配置）###
#spring.rabbitmq.addresses=$#{vcap.services.zipkin-mq.credentials.rabbitMq_addresses}
#spring.rabbitmq.username=$#{vcap.services.zipkin-mq.credentials.rabbitMq_username}
#spring.rabbitmq.password=$#{vcap.services.zipkin-mq.credentials.rabbitMq_password}
#spring.rabbitmq.virtual-host=$#{vcap.services.zipkin-mq.credentials.rabbitMq_vhost}
#trace record中spans的抽样比例(0~1.0),设为0则不会进行任何采样
#spring.sleuth.sampler.percentage=0.5
sample.zipkin.enabled=false
####过滤掉zipkin对circuit breaker的跟踪
spring.sleuth.integration.enabled=false
spring.sleuth.scheduled.enabled=false
spring.sleuth.log.slf4j.nameSkipPattern=^.-metrics.$#

####使用eureka server服务需要的配置（TODO:defaultZone修改为你的eureka server配置,目前使用cmb公共的eureka server）####
eureka.client.serviceUrl.defaultZone=http://cmb-eureka-server.paas.cmbchina.cn/eureka/
####register with ip
#eureka.instance.hostname=$#{vcap.application.uris[0]:$#{spring.cloud.client.ipAddress:localhost}}
#eureka.instance.prefer-ip-address=true
#eureka.instance.ip-address=$#{CF_INSTANCE_IP:$#{spring.cloud.client.ipAddress:localhost}}
#eureka.instance.non-secure-port=$#{CF_INSTANCE_PORT:$#{server.port:8080}}
#eureka.instance.homePageUrl=http://$#{eureka.instance.ip-address}:$#{eureka.instance.non-secure-port}
#eureka.instance.healthCheckUrl=$#{eureka.instance.homePageUrl}/health/
#eureka.instance.statusPageUrl=$#{eureka.instance.homePageUrl}/info/
