package com.${group.replace("-", "")}.${name.replace("-", "")};

import org.junit.Assert;
import org.junit.Test;
import org.junit.runner.RunWith;
import org.springframework.boot.autoconfigure.EnableAutoConfiguration;
import org.springframework.boot.test.context.SpringBootTest;
import org.springframework.cloud.contract.stubrunner.spring.AutoConfigureStubRunner;
import org.springframework.cloud.contract.stubrunner.spring.StubRunnerProperties;
import org.springframework.test.context.junit4.SpringRunner;
import org.springframework.web.client.RestTemplate;
import org.springframework.http.*;

import java.util.HashMap;
import java.util.Map;
import org.junit.Ignore;

@Ignore
@RunWith(SpringRunner.class)
@EnableAutoConfiguration
@SpringBootTest(webEnvironment = SpringBootTest.WebEnvironment.RANDOM_PORT)
@AutoConfigureStubRunner(ids = ("com.github.abigail830:mock-server-sample:+:stubs:6565"),
        repositoryRoot = "http://nexus.saraqian.cn/repository/maven-snapshots/",
        stubsMode = StubRunnerProperties.StubsMode.REMOTE
)
public class ContractConsumerTest {


    @Test
    public void testGetServiceNameFromContractConsumer() {

    }
}