
package com.${group.replace("-", "")}.${name.replace("-", "")}.infrastructure.repositories.dataentity;

import lombok.Getter;
import lombok.Setter;


@Getter
@Setter
public class $classname {
    private Long id;

    private String name;
}

