package com.${group.replace("-", "")}.${name.replace("-", "")}.domain;
import lombok.*;


@AllArgsConstructor
@EqualsAndHashCode
@NoArgsConstructor
@Builder
@Getter
@Setter
public class DemoModel {

    private Long id;

    private String name;

}
