package com.${group.replace("-", "")}.${name.replace("-", "")}.infrastructure.repositories.persistence;

import com.${group.replace("-", "")}.${name.replace("-", "")}.repositories.dataentity.ProductDataEntity;
import org.springframework.stereotype.Repository;

import java.util.Optional;

@Repository
public class DemoJpaPersistence {

    public Optional<ProductDataEntity> findById(Long productId) {
        return null;
    }

    public ProductDataEntity save(ProductDataEntity map) {
        return null;
    }

    public Iterable<ProductDataEntity> findAll() {
        return null;
    }

    public void delete(Long productId){
        return;
    }
}
