<?xml version="1.0" encoding="UTF-8"?>
<project xmlns="http://maven.apache.org/POM/4.0.0" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://maven.apache.org/POM/4.0.0 http://maven.apache.org/xsd/maven-4.0.0.xsd">
    <modelVersion>4.0.0</modelVersion>
    <parent>
        <groupId>org.springframework.boot</groupId>
        <artifactId>spring-boot-starter-parent</artifactId>
        <version>${bootVersion}</version>
        <relativePath/> <!-- lookup parent from repository -->
    </parent>
    <groupId>com.${group}</groupId>
    <artifactId>$name</artifactId>
    <version>1.0-SNAPSHOT</version>
    <name>$name</name>
    <description>#if(${description})${description}#else Demo for Sping Boot#end</description>

    <properties>
        #foreach($propertie in $buildPropertiesMaven.entrySet())
            <${propertie.key}>${propertie.value}</${propertie.key}>
        #end
    </properties>
    <scm>
        <connection>scm:git:https://github.com/abigail830/contract-client-sample.git</connection>
        <developerConnection>scm:git:https://github.com/abigail830/contract-client-sample.git</developerConnection>
        <url>https://github.com/abigail830/contract-client-sample</url>
        <tag>HEAD</tag>
    </scm>

    <distributionManagement>
        <snapshotRepository>
            <id>nexus</id>
            <name>maven-snapshots</name>
            <url>http://nexus.saraqian.cn/repository/maven-snapshots/</url>
        </snapshotRepository>
        <repository>
            <id>nexus</id>
            <name>maven-releases</name>
            <url>http://nexus.saraqian.cn/repository/maven-releases/</url>
        </repository>
    </distributionManagement>
    <dependencies>
        #foreach($dependency in $dependencies)
            #if($dependency.diy)
                $dependency.diy
            #else
                <dependency>
                    <groupId>$dependency.group</groupId>
                    <artifactId>$dependency.name</artifactId>
                    #if($dependency.version)
                        <version>$dependency.version</version>
                    #end
                    #if($dependency.type)
                        <type>$dependency.type</type>
                    #end
                    #if($dependency.scope)
                        <scope>$dependency.scope</scope>
                    #end
                </dependency>
            #end
        #end
        <dependency>
            <groupId>org.springframework.boot</groupId>
            <artifactId>spring-boot-starter-web</artifactId>
        </dependency>
        <dependency>
            <groupId>org.springframework.cloud</groupId>
            <artifactId>spring-cloud-starter-openfeign</artifactId>
        </dependency>
        <dependency>
            <groupId>org.projectlombok</groupId>
            <artifactId>lombok</artifactId>
            <version>1.18.4</version>
        </dependency>
        <dependency>
            <groupId>io.springfox</groupId>
            <artifactId>springfox-swagger2</artifactId>
            <version>2.9.2</version>
        </dependency>
        <dependency>
            <groupId>org.springframework.boot</groupId>
            <artifactId>spring-boot-starter-test</artifactId>
            <scope>test</scope>
        </dependency>
        <dependency>
            <groupId>org.modelmapper</groupId>
            <artifactId>modelmapper</artifactId>
            <version>1.1.1</version>
        </dependency>
        <dependency>
            <groupId>com.h2database</groupId>
            <artifactId>h2</artifactId>
        </dependency>
        <dependency>
            <groupId>org.springframework.boot</groupId>
            <artifactId>spring-boot-starter-data-jpa</artifactId>
        </dependency>
        <dependency>
            <groupId>org.flywaydb</groupId>
            <artifactId>flyway-core</artifactId>
        </dependency>
        <dependency>
            <groupId>io.springfox</groupId>
            <artifactId>springfox-swagger-ui</artifactId>
            <version>2.9.2</version>
        </dependency>
        <dependency>
            <groupId>org.springframework.cloud</groupId>
            <artifactId>spring-cloud-starter-contract-verifier</artifactId>
            <scope>test</scope>
        </dependency>
        <dependency>
            <groupId>org.springframework.cloud</groupId>
            <artifactId>spring-cloud-starter-contract-stub-runner</artifactId>
            <scope>test</scope>
        </dependency>
    </dependencies>

    <dependencyManagement>
        <dependencies>
            <dependency>
                <groupId>org.springframework.cloud</groupId>
                <artifactId>spring-cloud-dependencies</artifactId>
                <version>Finchley.SR2</version>
                <type>pom</type>
                <scope>import</scope>
            </dependency>
        </dependencies>
    </dependencyManagement>

    <build>
        <plugins>
            <plugin>
                <groupId>org.springframework.boot</groupId>
                <artifactId>spring-boot-maven-plugin</artifactId>
            </plugin>

            <plugin>
                <groupId>com.github.abigail830</groupId>
                <artifactId>stream-contract-maven-plugin</artifactId>
                <configuration>
                    <!--<targetContractDirectory>contracts</targetContractDirectory>-->
                    <restEndPoints>
                        <RestEndPoint>
                            <baseUrl>http://ec2-52-80-39-11.cn-north-1.compute.amazonaws.com.cn:8093/v1/streamContracts</baseUrl>
                            <queryParamMap>
                                <providerSystem>${productId}</providerSystem>
                                <providerID>${serviceId}</providerID>
                            </queryParamMap>
                        </RestEndPoint>
                    </restEndPoints>
                </configuration>
            </plugin>

            <plugin>
                <groupId>org.springframework.cloud</groupId>
                <artifactId>spring-cloud-contract-maven-plugin</artifactId>
                <extensions>true</extensions>
                <configuration>
                    <!--<contractsDirectory>contracts</contractsDirectory>-->
                    <baseClassForTests>com.${group.replace("-", "")}.${name.replace("-", "")}.base.BaseContractTestClass</baseClassForTests>
                </configuration>
            </plugin>
        </plugins>
        <pluginManagement>
            <plugins>
                <plugin>
                    <groupId>com.github.abigail830</groupId>
                    <artifactId>stream-contract-maven-plugin</artifactId>
                    <version>1.0-SNAPSHOT</version>
                    <executions>
                        <execution>
                            <id>cleanContract</id>
                            <phase>clean</phase>
                            <goals>
                                <goal>cleanContract</goal>
                            </goals>
                        </execution>
                        <execution>
                            <id>streamConvert</id>
                            <phase>compile</phase>
                            <goals>
                                <goal>streamConvert</goal>
                            </goals>
                        </execution>
                    </executions>
                </plugin>
                <plugin>
                    <groupId>org.springframework.cloud</groupId>
                    <artifactId>spring-cloud-contract-maven-plugin</artifactId>
                    <version>2.0.2.RELEASE</version>
                    <executions>
                        <execution>
                            <id>default-convert</id>
                            <phase>test-compile</phase>
                        </execution>
                        <execution>
                            <id>default-generateTests</id>
                            <phase>test-compile</phase>
                        </execution>
                        <execution>
                            <id>default-generateStubs</id>
                            <phase>none</phase>
                        </execution>
                    </executions>
                </plugin>
            </plugins>
        </pluginManagement>
    </build>

</project>
