package com.${group.replace("-", "")}.${name.replace("-", "")}.infrastructure.repositories.persistence;

import com.${group.replace("-", "")}.${name.replace("-", "")}.infrastructure.repositories.dataentity.DemoDataEntity;
import org.springframework.data.repository.CrudRepository;
import org.springframework.stereotype.Repository;

@Repository
public interface DemoJpaPersistence extends CrudRepository<DemoDataEntity, Long> {

}
