package com.${group.replace("-", "")}.${name.replace("-", "")}.resources.dto;

import lombok.Getter;
import lombok.Setter;

@Getter
@Setter
public class DemoCreationRequest {

    private String name;

}
