
package com.${group.replace("-", "")}.${name.replace("-", "")}.domain;

import lombok.*;

@EqualsAndHashCode
@NoArgsConstructor
@Builder
@Getter
@Setter
public class Demo {

    private Long id;

    private String name;

    public Demo(Long id, String name) {
        this.id = id;
        this.name = name;
    }
}

