pipeline {
    agent{
        label "master"
    }
    triggers {
        pollSCM('* * * * *')
    }
    stages {
        stage('Preparation') {
            steps {
                checkout(['$class': 'GitSCM', branches: [[name: '*/master']], doGenerateSubmoduleConfigurations: false, extensions: [], submoduleCfg: [], userRemoteConfigs: [[url: ${repository}]]])
            }
        }
        stage('Build') {
            steps {
                #if($isMavenProject)
                sh 'chmod +x mvnw'
                sh './mvnw clean install'
                #else
                sh 'chmod +x gradlew'
                sh './gradlew clean build'
                #end
            }
        }
        stage('start') {
            steps {
                script{
                    withEnv(['JENKINS_NODE_COOKIE=dontkill']) {
                        #if($isMavenProject)
                       sh 'nohup ./mvnw spring-boot:run &'
                        #else
                       sh "SERVER_PORT=9090 nohup ./gradlew bootRun &"
                        #end
                    }
                }
            }
        }
    }
}