package com.${group.replace("-","")}.${name.replace("-","")}.api;

import org.springframework.http.ResponseEntity;
import org.springframework.web.bind.annotation.*;
import org.springframework.util.MultiValueMap;
import io.swagger.annotations.ApiOperation;
import com.$group.replace("-", "").${name.replace("-", "")}.resources.dto.*;

@RestController
public class $classname {

#foreach($mapping in $mappings)
    @${mapping.method}Mapping("$mapping.path")
    @ApiOperation("${mapping.description}")
    public ${mapping.responseType} ${mapping.functionName}($mapping.params) {
            return null;
    }

#end

}
